#body{
    background: #383838;
}
#card{
    background: #383838;
    margin: 0;
    width:100%;
    border: 1px solid #7a7a7a;
}
#artista{
    text-align: center;
    font-size: 17px;
    color: #ffee00
}
#music{
    float: right;
    color:lightgray
}